<html>
  <head>
      <title>LES PEPITES</title>
  </head>  
<body>
    <p>Hi there!<p>
    </p>It works!</p>
</body>
</html>
//pour continuer le code <html>
    <h1>Titre 1</h1> pour les titres plus importants
    <h2>Titre 2</h2> pour les sous-titres
    <h3>Titre 3</h3> Et ainsi de suite jusqu'à 6
    <p> Un paragraphe contenant du texte</p><br>
    <em>texte</em> permet de mettre l'accent sur une partie du texte<br>
    <strong>texte</strong> permet de mettre encore plus l'accent sur une partie de texte
    <br> permet d'insérer un saut de ligne (vous ne pouvez rien à l'intérieur d'un élément br et il n'y a pas de balise fermante)<br>
    <a href="https://djangogirls.org">link</a> pour insérer un lien
    <ul><li>premier item</li><li>second item</li></ul>permet de créer des listes <br>
    <div></div> permet de créer une section au sein de la page
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>